.list-group-item {
  line-height: 2.5;
}

#login-page {
  width: 50%;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
}

.helperText {
  font-size: 12px;
}

.pos {
  float: left;
  margin-right: 20px;
}

.newTeam {
  position: absolute;
  bottom: 5px;
  left: 5%;
}

.newLeague {
  position: absolute;
  bottom: 5px;
  right: 5%;
}

.myTeam {
  float: left;
}

.myLeague {
  float: right;
}

#hr {
  margin-top: 40px;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}