<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">App Name</a>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Right-aligned menu
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Draftboard</h5>
          <hr>
          <p class="helperText">Add your picks for your upcoming draft</p>
          <p id='board1'>1. First round pick</p>
          <p id='board2'>2. Second round pick</p>
          <p id='board3'>3. Third round pick</p>
          <p id='board4'>4. Fourth round pick</p>
          <p id='board5'>5. Fifth round pick</p>
        </div>
      </div>
    </div>
    <div class="col-6 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Current draft class</h5>
          <hr>
          <p class='pos' id='qb'>Quarterback</p>
          <p class='pos' id='rb'>Runningback</p>
          <p class='pos' id='wr'>Wide Reciever</p>
          <p class='pos' id='te'>Tight End</p>
          <p class='pos' id='all'>All</p>
          <div class='playerTable'></div>
        </div>
      </div>
    </div>

    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">My teams</h5>
          <hr>
          <div class="myTeams"></div>
          <button class='newTeam'>New team</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Message board</h5>
          <hr>
          <p>Message board content</p>
        </div>
      </div>
    </div>


  </div>
</div>
