<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">App Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Your Name1 - Team Owner
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Dashboard</a>
        <a class="dropdown-item" href="#">Draft Room</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Draftboard</h5>
          <p class="helperText">Add your picks for your upcoming draft</p>
          <hr>
          <p id='board1'>1. First round pick</p>
          <p id='board2'>2. Second round pick</p>
          <p id='board3'>3. Third round pick</p>
          <p id='board4'>4. Fourth round pick</p>
          <p id='board5'>5. Fifth round pick</p>
        </div>
      </div>
    </div>
    <div class="col-6 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Current draft class</h5>
          <hr>
          <p class='pos' id='qb'>Quarterback</p>
          <p class='pos' id='rb'>Runningback</p>
          <p class='pos' id='wr'>Wide Reciever</p>
          <p class='pos' id='te'>Tight End</p>
          <div class='playerTable'>
            {{#each Players}}
            <tr>
                <td>{{this.playerName}}</td>
                <td>{{this.college}}</td>
            </tr>
        {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 equal">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">My teams</h5>
          <hr>
          <div class="myTeams"></div>
          <button class='newTeam'>Create new team</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Message board</h5>
          <hr>
          <p>Message board content</p>
        </div>
      </div>
    </div>


  </div>
</div>