<nav class="navbar">
    <img class='logo' src="./images/Draft_logo.png" alt="logo">
    <h2 class="navbar-brand">Fantasy Draft Generator</h2>
    <div>
      <h1>Hello</h1>
      <h1>{{user}}</h1>
  {{#if username}}
    <p>Hello {{username}}</p>
  {{else}}
    <p>Please <a href='/users/login'>Log In</a></p>
  {{/if}}
    
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menu 
        </button>
        <div class="dropdown-menu dropdown-menu-right drop-left">
            <button class="dropdown-item" type="button">Dashboard</button>
            <button class="dropdown-item" type="button">Draft Room</button>
            <a href="/logout">Log Out</a>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-3 left equal">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Draftboard</h5>
                    <hr>
                    <p class="helperText">Add your picks for your upcoming draft</p>
                    <p id='board1'>1. First round pick</p>
                    <p id='board2'>2. Second round pick</p>
                    <p id='board3'>3. Third round pick</p>
                    <p id='board4'>4. Fourth round pick</p>
                    <p id='board5'>5. Fifth round pick</p>
                </div>
            </div>
        </div>
        <div class="col-6 middle equal">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Current draft class</h5>
                    <hr>
                    <p class='pos' id='qb'>Quarterback</p>
                    <p class='pos' id='rb'>Runningback</p>
                    <p class='pos' id='wr'>Wide Reciever</p>
                    <p class='pos' id='te'>Tight End</p>
                    <p class='pos' id='all'>All</p>
                    <div class='playerTable'></div>
                </div>
            </div>
        </div>

        <div class="col-3 equal">
            <div class="card right mt-4">
                <div class="card-body">
                    <h5 class="card-title myTeam">My team</h5>
                    <hr id='hr'>
                    <p class='rd1'>Round 1: </p>
                    <p class='rd2'>Round 2: </p>
                    <p class='rd3'>Round 3: </p>
                    <p class='rd4'>Round 4: </p>
                    <p class='rd5'>Round 5: </p>
                    <div class='clockTime'></div>
                    <div class='clockTeam'></div>
                    <hr>
                    <button class='pickSubmit'>Confirm draft pick</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col bottom equal">
            <div class="card mt-4">
                <div class="card-body messageBoard">
                    <h5 class="card-title">Message board</h5>
                    <hr>
                    <p>Message board content</p>
                </div>
            </div>
        </div>


    </div>
</div>