<!DOCTYPE html>
<html>
 
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
 
<body>
    <div class="row" id="main">
          <div class="col s3"></div>
        <div class="col s6 z-depth-6 card-panel">
    <form id="signup" name="signup" method="post" action="/signup">
     <div class="row">
        <div class="input-field col s12 center">
        <img src="images/Draft_logo.png" alt="" class="responsive-img valign profile-image-login">
        <p class="center login-form-text">Fantasy Sports Sign-Up</p>
        </div>
        </div>
         <div class="row margin">
        <div class="input-field col s12">
        <label class="active" for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        </div>
        </div>
         <div class="row margin">
        <div class="input-field col s12">
        <label class="active" for="firstname">Firstname</label>
        <input name="firstname" type="text" />
         </div>
        </div>
        <div class="row margin">
        <div class="input-field col s12">
        <label class="active" for="lastname">Lastname</label>
        <input name="lastname" type="text" />
         </div>
        </div>
          <div class="row margin">
        <div class="input-field col s12">
        <label class="active" for="password">Password</label>
        <input name="password" type="password" />
         </div>
        </div>
        <input class="btn" type="submit" value="Sign Up" />
        <p>Already a member, then sign in! <a href="/signin">Continue</a></p>
        
    </form>
 </div>
 <div class="col s3"></div>
 </div>
</body>
 
</html>